body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Navbar*/
.nav-item{
  font-weight: bold;
}

/* ul.dropdown-menu {
  display:contents;
} */

/* loggin sidan */
.header,h1{
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 5rem;
}
.header-h3{
  font-size: 2.5rem;
}
.input{
  font-weight: bold;
  font-size: 2.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-control{
  font-size: 3rem;
}
button{
  margin: 2rem;
  margin-bottom: 7rem;
  border-radius: 2rem;
  background-color:#578263;
  color: whitesmoke;
  padding-left: 8rem;
  padding-right: 8rem;
  padding: 0.5rem;
  font-weight: bold;
}

/* section1 */
.section1{
  color: white;
  background-color: #578263;
  padding: 3rem;
  text-align: center;
}
.section1-text{
  font-size: 2rem;
}

/* section2 */
.section2-h2{
  font-size: 3rem;
  margin: 2rem;
  font-weight: 600;
  text-decoration: underline;
}
.section2{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  padding: 2rem;
}
.section2-img{
  
  padding: 4rem;
  font-size: 2.5rem;
  align-items: baseline;
  color: white;

}
.section2-1{
  border-radius: 1rem;
  padding-bottom: 5.5rem;
  padding-top:4.5rem ;
  padding-right: 7rem;  
  background-color: #578263;
}
.section2-2{
  border-radius: 1rem;
  padding-bottom: 5.6rem;
  padding-top:4.7rem ;
  padding-right: 7.8rem;
  background-color: #578263;
}
.section2-3{
  border-radius: 1rem;
  padding-bottom: 5.6rem;
  padding-top:4.8rem ;
  padding-right: 2rem;
  background-color: #578263;
}
.section2-4{
  border-radius: 1rem;
  padding-bottom: 5.7rem;
  padding-top:4.9rem ;
  padding-right: 9.5rem;
  background-color: #578263;
}
.section2-button1{
  font-size: 3rem;
  padding: 2rem;
  border-radius: 4rem;
  text-decoration: underline;
}
.section2-button2{
  font-size: 3rem;
  padding: 2rem;
  border-radius: 4rem;
  text-decoration: underline;
}

/* section3 */
.section3{
  display: flex;
  margin: auto;
  flex-direction: column;
  text-align: center;
  padding: 5rem;
  max-width: fit-content; 
  word-wrap: break-word; 
  font-size: 2rem;
}
.cection3-h3{
  font-size: 3rem;
  font-weight: bold;
}
.section3-golvvård,.section3-fancy{
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  font-weight: 600;
  padding: 3rem;
  word-wrap: break-word; 
  max-width: fit-content;
  padding: 4rem;
}
.cection3-text{
  text-align: center;
  font-size: 3rem;
  padding: 2rem;
  text-wrap: balance;
}



/* footer */
.text{
  display: flex;
  justify-content: center;
  margin: 3rem;
}
.foot{
  padding: 2rem;
  margin-top: 9rem;
  font-size: 2rem;
  background-color:#578263;
  font-weight:600;
  color: white;
}
.fab{
  font-size: 3rem;
  margin: 2rem;
  color: white;
}


